@{
    ViewData["Title"] = "Home Page";
    
}

<body style="background-color:blanchedalmond ;">

<div style="background-color:rosybrown ;" class="text-center">
    <h1 class="display-4">School<br />Management<br /> system</h1>
        <a asp-controller="Users" asp-action="Login"> <button class="btn btn-outline-primary">Goto School</button>  </a>
    <style>
        button{background-color:lightblue;}
    </style>
</div>

</body>

