@{
    ViewData["Title"] = "School Home Page";

}

<body style="background-color:maroon ;">

    <div style="background-color:rosybrown ;" class="text-center">
        <h3 class="display-4">Welcome to My School</h3>
    </div>

</body>

